<template>
  <div>
    <SudokuLibraryItem v-for="(challenge, index) in this.$store.state.library" :key="index" :index='index'/>
  </div>
</template>

<script>
  import SudokuLibraryItem from '../components/SudokuLibraryItem.vue'

  export default {
    components: {
      SudokuLibraryItem
    }
  }
</script>

<style>
  .container {
    margin-bottom: 10px;
  }
</style>
