<template>
  <div>
    <b-card
      :title="title"
      style="max-width: 20rem;"
    >
      <b-card-text v-html="preview">
      </b-card-text>
      <b-button :href="challengeUrl" variant="primary"><b-icon icon="play-fill"></b-icon> Play it!</b-button>
    </b-card>
  </div>
</template>

<script>
  export default {
    data: function(){
      return {
        challengeUrl: "/puzzle/" + this.index
      }
    },
    props: {
      index: {
        type: Number,
        required: true
      }
    },
    computed: {
      title: function(){ 
        return "Challenge " + (this.index + 1)
      },

      preview: function(){
        const challenge = this.$store.state.library[this.index];
        let result = "<table class='sudoku-preview'>"
        for (let line = 0; line < challenge.length; line++) {
          result += "<tr>"
          for (let clue = 0; clue < challenge[line].length; clue++) {
            result+= "<td>" + challenge[line][clue] + "</td>"
          }
          result += "</tr>"
        }
        result += "</table>"

        return result;
      }

    }
  }
</script>

<style>

.sudoku-preview {
  border-collapse: collapse;
  border: 3px solid #ccc;
}

.sudoku-preview td {
  border: 1px solid #ccc;
  height: 27px;
  text-align: center;
  width: 27px;
}

.sudoku-preview td:nth-child(3n) {
  border-right-width: 3px;
}

.sudoku-preview tr:nth-child(3n) td {
  border-bottom-width: 3px;
}
</style>
